<div class="page-content">
  <nz-card
    nzTitle="Sofware design, final project"
    [nzExtra]="seeMoreSoftwareDesign">
    <p>Application that allowed users to recod movements and then recognize static postures based on rules.</p>
  </nz-card>
  <ng-template #seeMoreSoftwareDesign>
    <a routerLink="./software-design">See more...</a>
  </ng-template>

  <nz-card
    nzTitle="Natural user interface, final project"
    [nzExtra]="seeMoreNaturalUserInterface">
    <p>Application that allowed users to modify a 3D object in the space by using hand gestures.</p>
  </nz-card>
  <ng-template #seeMoreNaturalUserInterface>
    <a routerLink="./natural-user-interface">See more...</a>
  </ng-template>

</div>